/* SRE404ZUIFont.ttf Font Face */
@font-face {
  font-family: 'SRE404ZUIFont';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/ShimulRE404Zone/Web-Font-SRE404Z-UI@main/FontS-UI/Font-UI-001-SRE404ZUIFont/SRE404ZUIFont.woff') format('woff');
}
